@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap");

body {
  font-family: "Yaldevi", sans-serif;
  animation: fadeIn 3s;
  background-color: white;
}

.main__circle {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  position: fixed;
}

.inner {
  background-color: white;
  z-index: -1;
  height: 35rem;
  width: 35rem;
  box-shadow: 1px 1px 5px #999 inset;
}

.outer {
  background-image: linear-gradient(320deg, #e20fcd, yellow);
  z-index: -2;
  height: 40rem;
  width: 40rem;
  animation: outer infinite 6s linear;
  box-shadow: 1px 1px 5px #999;
}

.titles {
  margin: auto;
  z-index: 2;
  height: 45rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  animation: fadeIn 5s;
  color: #313639;
}

h2 {
  font-size: 1rem;
  animation: fadeIn 10s;
  color: #313639;
}

/* NAVIGATION */

.navigation {
  display: flex;
  width: 15rem;
  height: 5rem;
  margin: 3em auto 0;
  justify-content: space-between;
  animation: fadeIn 10s;
}

.navigation img {
  height: 2em;
  opacity: 100%;
}

.navigation img:hover {
  opacity: 70%;
  transform: scale(1.1);
}

#li {
  width: 2.5em;
}

#twitter {
  width: 2.4em;
}

/* KEYFRAMES  */

@keyframes outer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  .inner {
    height: 18rem;
    width: 18em;
  }

  .outer {
    height: 20rem;
    width: 20rem;
  }
}
